table {
    padding: 3cm;
}    

h2 {
    font-style: oblique;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

table {
    background-image: url("../img/campo.jpg");
    background-position: center;
    width: 100%;
    border-style: solid;
    border-color: black;
}